:root {
    --first-color: #89deff;
    --second-color: #6eeb83;
    --third-color: #fff898;
    --fourth-color: #a75900;
    --fifth-color: #ff5714;
    font-family: monospace;
}

body {
    background-image: linear-gradient(var(--first-color), var(--second-color));
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
}

#root {
    flex: 0 1 clamp(320px, 100vw, 1500px);
}
