.nav {
    position: relative;
    box-shadow: 0px 10px 15px -10px #000000;
    border-bottom: 1px solid black;
}

.ul {
    list-style-type: none;
    background-color: var(--fourth-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}

.ul li {
    padding: 0.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.ul li:last-child {
    margin-left: auto;
    position: relative;
    text-align: center;
}

.ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.ul a:hover {
    text-decoration: underline;
}

.ul li:last-child a:hover::after {
    content: "Click to see your cart and check out!";
    position: absolute;
    left: 0%;
    top: 110%;
    color: black;
    font-size: 1rem;
    background-color: var(--second-color);
    opacity: 90%;
    padding: 0.6rem;
    border-radius: 15px;
    border: 1px solid var(--fifth-color);
}

.ul span {
    font-size: 1.3rem;
}
